{% extends 'base.html'%}
{% load  static %}
{% block content %}
<div class="text-center fs-2">
    About<b class="txt-mycolor"> Us</b>
</div>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 py-5">
<iframe width="560" height="315" src="https://www.youtube.com/embed/OeHV3HQIzq8?si=6Pby-BB2j9_XU1tR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
<div class="col-lg-6 col-md-6 col-sm-12">
    <h4 class="text-dark" style="text-align:center;">About Us</h4>
    Company Name: Event Management System
About Us

Welcome to Event Management System! We are a leading technology
    company dedicated to innovation and excellence.
    Our journey began in 2005 when a group of passionate engineers
    came together with a vision to make a difference in the world of
    technology.
Our Mission

Our mission is to empower businesses and individuals with
    cutting-edge technology solutions that enhance productivity, efficiency,
    and connectivity. We strive to create value for our clients by delivering
    exceptional software and services.

Our Team

Meet the faces behind Event management system Our diverse team of experts
    is driven by a shared passion for technology. With years of experience
    in various fields, we collaborate to bring your ideas to life.<br/>

    <b class="text-danger">Karan pandey : CEO and Co-founder</b><br/>
<b class="text-danger">Yash Singh: Chief Technology Officer</b><br/>
<b class="text-danger">Agast Singh: Head of Operations</b><br/>
<b class="text-danger">Anuj Singh: Lead Software Developer Our Achievements</b><br/>

Over the years, we have achieved significant milestones:
Awarded "Innovator of the Year" in 2019
Successfully launched Event management App, downloaded by millions
Partnered with Fortune 500 companies for digital transformation projects
Thank you for choosing Event management as your technology partner.
    We look forward to helping you achieve your goals and aspirations.</div>
    </div>
{% endblock %}